body{
    background-color: #f5f8ff;
}
.inter-normall{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.header{
   
    align-items: center;
}

/* Navbar style  */


.navbar{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.nav-item ul{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
#ho{font-weight: bold;
    color: #252432;
}
#sh{
    color: #8987A1;
}
#cr{
    color: #000000;
}

/* banner style  */
.banner{
    width: 1140px;
    /* height: 460px; */
    display: flex;
    justify-items: center;
    margin: 0px auto;
    margin-top: 100px;
}
.banner-title{
    font-size: 3.5rem;
    color:#000000;
    margin: 0px;
}
.banner-title span{
    color: #E95A08;
}
.banner-sub{
    margin:0px;
}
.banner-des{
    padding-top: 50px;
}
/* plant section styles */
.plants-title{
    color: #E95A08;
    font-size: 3.1rem;
}
.plants-title span{
    color: black;
}
.plants-sub{
    width:888px;
    text-align: center;
}
.plants{
    width: 1140px;
    margin: 0px auto;
    justify-items: center;
}
.plant-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
}
.plant{
    text-align:center;
}
.plant-btn{
    width: 100%;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border: 1px solid #E95A08;
    padding: 15px 0px;
    margin: 0px;
}
.plant-title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom:1px;
    color: #111111;
}
.plant-sub{
    font-size: 1.6rem;
    margin-top: 0px;
    font-weight: bold;
}

/* flower and plants lover section  */

.flower-lover{
    width: 1140px;
    display: flex;
    gap: 40px;
    margin: 0px auto;
    margin-top: 200px;
}
.lover-title{
    width:500px ;
    font-size: 3.125rem;
    font-weight: bold;
}
.lover-img{
    position: relative;
}
.loverimg-2 {
    height: 286px;
    width: 286px;
    position: absolute;
    top: -135px;
    right: -100px;
    
}
.lover-sub{
    text-align: left;
}
/* deal section */
.deal{
    width: 1140px;
    margin: 0px auto;
    margin-top: 100px;
    
}

/* join section  */

.join{
    background-image: url(assets/news-letter-bg.png);
    height: 530px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 100px;
}
.join-content h3{
    font-size: 3.125rem;
}


.join-form{
    width: 830px;
    display: flex;
}

.join-feild{
  padding: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  flex:1 ;
}

.join-btn {
  padding: 10px 40px;
  font-size: 1rem;
  background: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
}
/* footer section styles */
.footer{
    width: 1140px;
    margin: 0px auto;
    margin-top: 100px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-logo{
    width: 360px;
}
.footer-logo img{
    width: 135px;
    height: 80px;
}

.footer-item ul{
    list-style: none;
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.footer-item li a{
    color: gray;
    gap: 10px;
}
.footer-icon{
    display: flex;
    gap: 20px;
}
.img-twi{
    padding-top: 10px;
}

/* challage section */ /* challage section */ /* challage section */
.deals{
    width: 1140px;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
}
.deals-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.deals-title{
    font-size: 3rem;
    color: #E95A08;
}
.deals-title span{
    color: black;
}
.deals-sub{
    width: 888px;
    text-align: center;
    margin: 0px auto;
}

.box-s{
    position: relative;
    
    color: white;
}

.deal-img1 {
    position: absolute;
    right: 20%;
    top: 30%;
}
.box-2{
    position: relative;
    text-align: center;
    color: white;
}

.deal-img2{
    position: absolute;
    right: 20%;
    top: 30%;
}
.deal-img3{
    position: absolute;
    right: 25%;
    top: 40%;
}
.box-s img,.box-2 img{
    border-radius: 10px;
     /* background: rgba(0, 0, 0, 0.4);
    filter: brightness(70%) contrast(70%); */
     filter: brightness(70%); 
    
} 
.box-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.deal-btn{
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
}
.deal-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin:0px;
}
.deal-title2{
    font-size: 2.5rem;
    font-weight: bold;
    margin:0px;
}
.deal-btn2{
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: underline;
}




.sub-titles{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 50%);
}








/* mobile responsive styles */
@media screen and (max-width:576px) {
    .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    

}
.nav-img img{
    height: 38px;
    width: 63px;
}
#ho, #sh{
    display: none;
}

/* banner section  */
.banner{
    flex-direction: column-reverse;
    width: 100%;
}
.banner-img img{
    width: 100%;
}
.banner-title{
    font-size: 2rem;
}
.banner-sub{
    font-size: 1rem;
}
.banner-des{
    margin: 0px 20px;
}
 /* plants section responsive */
.plants{
    width: 100%;
}
.plants-sub{
    width: 100%;
    margin: 10px;
}
.plant{
    width: 100%;  
}
.plant-container{
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}
.plant-img{
    width: 100%;
}
.plant-btn,.plant-sub,.plant-title{
    font-size: 16px;
    
}
/* flower and plants lover section responsive */

.flower-lover{
    flex-direction: column;
    width: 100%;
    width: 95%;
}
.loverimg-1{
    width: 100%;
}
.loverimg-2{
    display: none;
}
.lover-title{
   
    width: 100%;
    font-size: 1.5rem;
    display: block;
}
.lover-sub{
    font-size: 14px;
    text-align: left;
}

/* join section */
.join{
    width:95%;
    margin: 10px;
    margin-top: 40px;
    height: 400px;

}
.join-form{
    width: 50%;
    gap: 0;
}
.join-content h3{
    font-size: 1.2rem;
    margin: 0px;
    padding-bottom: 20px;
}
.join-btn{
    padding:10px 20px;
}


/* footer section */
.footer{
width: 100%;
margin-bottom: 30px;
}
.footer-container{
    flex-direction: column;
    width:calc(100%-10px) ;
    padding-left: 10px;
}
.footer-item ul{
    padding: 0px;
    margin: 0px;
}
.footer-sub{
    font-size: 1rem;
}
/* challagne section */
.deals{
    width:100%;
    
}
.deals-container1{
    width: calc(100%-20px);
    margin: 10px;
}
.deals-container {
    width:100%;
    flex-direction: column;
}
.box-s img,.box-2 img{
    width: 100%;
} 
.deals-sub{
    width: 100%;
    font-size: 14px;
}
.deal-btn{
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: underline;
}
.deal-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin:0px;
}
.deal-title2{
    font-size: 1.5rem;
    font-weight: bold;
    margin:0px;
}
.deal-btn2{
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: underline;
}













}