body{
    background-color: #f5f8ff;
}
.inter-normall{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.header{
   
    align-items: center;
}

/* Navbar style  */


.navbar{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.nav-item ul{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
#ho{font-weight: bold;
    color: #252432;
}
#sh{
    color: #8987A1;
}
#cr{
    color: #000000;
}

/* banner style  */
.banner{
    width: 1140px;
    /* height: 460px; */
    display: flex;
    justify-items: center;
    margin: 0px auto;
    margin-top: 100px;
}
.banner-title{
    font-size: 3.5rem;
    color:#000000;
    margin: 0px;
}
.banner-title span{
    color: #E95A08;
}
.banner-sub{
    margin:0px;
}
.banner-des{
    padding-top: 50px;
}
/* plant section styles */
.plants-title{
    color: #E95A08;
    font-size: 3.1rem;
}
.plants-title span{
    color: black;
}
.plants-sub{
    width:888px;
    text-align: center;
}
.plants{
    width: 1140px;
    margin: 0px auto;
    justify-items: center;
}
.plant-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
}
.plant{
    text-align:center;
}
.plant-btn{
    width: 100%;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border: 1px solid #E95A08;
    padding: 15px 0px;
    margin: 0px;
}
.plant-title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom:1px;
    color: #111111;
}
.plant-sub{
    font-size: 1.6rem;
    margin-top: 0px;
    font-weight: bold;
}

/* flower and plants lover section  */

.flower-lover{
    width: 1140px;
    display: flex;
    gap: 40px;
    margin: 0px auto;
    margin-top: 200px;
}
.lover-title{
    width:500px ;
    font-size: 3.125rem;
    font-weight: bold;
}
.lover-img{
    position: relative;
}
.loverimg-2 {
    height: 286px;
    width: 286px;
    position: absolute;
    top: -135px;
    right: -100px;
    
}





/* subtitle style for all  */
.sub-titles{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 50%);
}








/* mobile responsive styles */
@media screen and (max-width:576px) {
    .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    

}
.nav-img img{
    height: 38px;
    width: 63px;
}
#ho, #sh{
    display: none;
}

/* banner section  */
.banner{
    flex-direction: column-reverse;
    width: 100%;
}
.banner-img img{
    width: 100%;
}
.banner-title{
    font-size: 2rem;
}
.banner-sub{
    font-size: 1rem;
}
.banner-des{
    margin: 0px 20px;
}
 /* plants section responsive */
.plants{
    width: 100%;
}
.plants-sub{
    width: 100%;
    margin: 10px;
}
.plant{
    width: 100%;  
}
.plant-container{
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}
.plant-img{
    width: 100%;
}
.plant-btn,.plant-sub,.plant-title{
    font-size: 16px;
    
}
/* flower and plants lover section responsive */

.flower-lover{
    flex-direction: column;
    width: 100%;
    width: 95%;
}
.loverimg-1{
    width: 100%;
}
.loverimg-2{
    display: none;
}
.lover-title{
   
    width: 100%;
    font-size: 1.5rem;
    display: block;
}
.lover-sub{
    font-size: 14px;
}






}